@CHARSET "ISO-8859-1";

#action_buttons {
	float: left;
	height: 100%;
	width: 100px;
	text-align: center;
	overflow: hidden;
}
#back_button {
	float: left;
	width: 50%;
	height: 100%;
	padding: 16px 0px 0px 0px;
	-webkit-app-region: no-drag;
}
#forward_button {
	float: right;
	width: 50%;
	height: 100%;
	padding: 16px 0px 0px 0px;
	-webkit-app-region: no-drag;
}
#back_button:hover,
#forward_button:hover {
	cursor: default;
	/*content:url("../img/back_button_hover.png");*/
	background-color: #4a4a4a;
}

#back_button img,
#forward_button img {
	width: 16px;
	height: 16px;
}
