@CHARSET "ISO-8859-1";

.action-buttons {
	float: left;
	height: 80%;
	width: 60px;
	text-align: center;
	padding: 24px 0px 0px 0px;
	overflow: hidden;
}
.action-buttons .button {
	width: 50%;
	height: 100%;
	-webkit-app-region: no-drag;
}
#back.button {
	float: left;
}
#forward.button {
	float: right;
}

/* icons */
#back.button span,
#forward.button span {
	font-size: 0.8em;
}
#back.button:hover span,
#forward.button:hover span {
	cursor: default;
	color: #ffffff;
	-webkit-transition: color 0.15s;
}
