@CHARSET "ISO-8859-1";


.app {
	position: absolute;
	top: 78px;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding-top: 2px;
	/*border: 1px dotted #FFFFFF;*/
}


.list-movies {
	display: block;
	clear: left;
	padding-top: 1px;
	width: 90%;
	margin: 0px auto;
	height: 100%;
	overflow-x: scroll;
}
.movie-tile {
	float: left;
	height: auto;
	width: 150px;
	margin: 5px;
	padding: 10px;
	text-align: center;
  -webkit-transition: background 0.25s ease;
}
.movie-tile:hover {
	background-color: #2a2a2a;
	cursor: default;
}

.test-buttons {
	height: auto;
	display: block;
}
#insert-movie.button,
#remove-movie.button {
	float: left;
	background-color: #2a2a2a;
	height: auto;
	width: 50px;
	padding: 0px 15px;
	margin: 0px 1px;
	-webkit-user-select: none;
}
#insert-movie.button:hover,
#remove-movie.button:hover {
	cursor: default;
	background-color: #424242;
}
