@CHARSET "ISO-8859-1";


.app {
	position: absolute;
	top: 78px;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding-top: 2px;
	/*border: 1px dotted #FFFFFF;*/
}
.movie-row {
	background-color: #942525;
}

.test-buttons {
	height: auto;
}
.list-movies {
	clear: left;
	padding-top: 1px;
	height: 100%;
}
#insert-movie.button,
#remove-movie.button {
	float: left;
	background-color: #2a2a2a;
	height: auto;
	width: 50px;
	padding: 0px 15px;
	margin: 0px 1px;
	-webkit-user-select: none;
}
#insert-movie.button:hover,
#remove-movie.button:hover {
	cursor: default;
	background-color: #424242;
}
