@CHARSET "ISO-8859-1";

/* top header title bar with control buttons */
@import url("titlebar.css");
/* menu bar with forward/back buttons and search box */
@import url("menubar.css");
/* Open Sans font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
/* icons */
@import url("../css/icon_style.css");

p {
	font-weight: 300;
	font-size: 8px;
}
h1 {
	font-weight: 400;
	font-size: 11px;
}
p, h1 {
	color: #ffffff;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
html, body {
		/* main background color */
	background-color: #1b1b1b;
	height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
}

/** {
	border: 1px dotted #FFFFFF;
}*/


.container {
	margin-top: 100px;
	padding-bottom: 66px;
	position: relative;
}
