@CHARSET "ISO-8859-1";

/* action buttons float left */
@import url("action_buttons.css");
/*search bar*/
@import url("search.css");



.menubar {
	background-color: #2a2a2a;
	color: #9a9a9a;
	position: fixed;
	top: 28px;
	left: 0;
	right: 0;
	height: 50px;
	width: 100%;
	overflow: hidden;
	-webkit-app-region: drag;
}
