@CHARSET "ISO-8859-1";

.window-states {
	float: right;
	height: 100%;
	width: 130px;
	text-align: center;
	overflow: hidden;
}

.window-states .button {
	height: 100%;
	padding: 4px 0px 0px 0px;
	-webkit-app-region: no-drag;
	-webkit-transition: background-color 0.15s;
}
#minimize.button {
	float: left;
	width: 33%;
}
#maximize.button {
	margin: 0px auto;
	width: 34%;
}
#unmaximize.button {
	margin: 0px auto;
	width: 34%;
}
#close.button {
	float: right;
	width: 33%;
	height: 100%;
}

/*hover state*/
#minimize.button:hover,
#maximize.button:hover,
#unmaximize.button:hover {
	cursor: default;
	background-color: #424242;
	-webkit-transition: none;
}
#close.button:hover {
	cursor: default;
	background-color: #e71232;
	-webkit-transition: none;
}

/* icons */
.window-states .button span{
		font-size: 0.6em;
		color: #dedede;
}
