<!DOCTYPE html>
<html ng-app="VideoNode">
	<head>
		<meta charset="ISO-8859-1">
		<title>Video Node</title>

		<!-- angularJS -->
		<script type="text/javascript" src="../../node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="../../node_modules/angular/angular-resource.min.js"></script>
		<script src="../js/app.js"></script>

		<!-- css -->
		<link rel="stylesheet" href="../css/index.css" type="text/css">

	</head>
	<body>
		<header class="titlebar">

			<!-- Window State Buttons (right) -->
			<div class="window-states">
				<div id="minimize" class="button" ><span class="icon icon-minimize"></span></div>
				<div id="close" class="button" ><span class="icon icon-close"></span></div>

				<div id="maximize" class="button" ><span class="icon icon-maximize"></span></div>
			</div>
			<!-- icon top left -->
			<!-- <div id="video-node-icon">
				<img src="../img/video-node-icon.png" alt="icon" />
			</div> -->

			<!-- Title (center) -->
			<div class="title" >
				<h1>Video Node</h1>
			</div>

		</header>

		<div class="menubar">
			<!-- Action Buttons (left) -->
			<div class="action-buttons">
				<div id="back" class="button" ><span class="icon icon-left"></span></div>
				<div id="forward" class="button" ><span class="icon icon-right"></span></div>
			</div>

			<!-- Search Box -->
			<div class="searchbox">
				<div class="container-1">
					<span class="icon icon-search"></span>
					<input type="search" id="search" placeholder="Search..." onfocus="this.placeholder=''" onblur="this.placeholder='Search...'"/>
				</div>
			</div>
		</div>

		<!-- Main App -->
		<div class="app">
			<div class="test-buttons">
				<div id="insert-movie" class="button">
					<h1>Insert</h1>
				</div>

				<div id="remove-movie" class="button">
					<h1>Remove</h1>
				</div>
			</div>

			<div class="list-movies" ng-controller="MovieController as list">
				<div class="movie-row" ng-repeat="movie in list.movies">
					<h1>{{ movie.title }} ({{ movie.year }})</h1>
				</div>
			</div>
		</div>


		<!-- scripts -->
		<!-- <script src="../js/index.js"></script> -->
		<script src="../js/titlebar.js"></script>
		<script src="../js/search.js"></script>
		<script src="../js/menubar.js"></script>

	</body>
</html>
